.manager-user-container{
    padding: 10px;
    .title{
        font-weight: 600;
        font-size: 20px;
    }
    .users-content{
        .btn-add-new{
            margin: 15px 0px;
        }
    }
}

.modal-add-user{
    .label-upload{
        display: flex;
        gap: 5px;
        align-items:center;
        justify-content: center;
        width: fit-content;
        border-radius: 5px;
        background: #eeeeee;
        border: none;
        cursor: pointer;
        &:hover{
            color: #757575;
        }
    }
    .img-preview{
        display: flex;
        height: 150px;
        border: 1px dashed #ccc;
        justify-content: center;
        text-align: center;
        align-items: center;
        color: rgb(172, 172, 172);
    }
}