.manager-user-container{
    .users-content{
        color: red;
    }
    .modal-add-user{
        color: red;
        .img-preview{
            height: 150px;
            border: 1px dashed #ccc;
            border-radius: 5px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #ccc;
        }
    }
}